{% load i18n %}
{% load static %}

<html>
    <head>
        <title>Going Home -  Data entry</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'accueil/w3.css' %}">
        <link rel="stylesheet" href="{% static 'gh/w3taupe.css' %}">
        <script type="text/javascript" src="/static/jquery.js"></script>
        <script type="text/javascript" src="/static/tabber.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/sondageM.css" />

    </head>
<body class="w3-theme-l4">

<header class="w3-row w3-theme-d3" id="myHeader">
    <div class="w3-quarter">
        <a href="{% url 'logout' %}" class="w3-button w3-theme-action"> Logout</a>
    </div>

    <div class="w3-half w3-center">
        <h4>Going Home -  Data entry</h4>
    </div>
    <div class="w3-quarter w3-right-align">
    </div>
</header>
<div class="principal">

{% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}}" role="alert">
        {{msg.message}}
        </div>
    {% endfor %}
{% endif %}
<h2>{{ user.first_name }} {{ user.last_name }} </h2>

   <div class="tabber">
       <div class="tabbertab">
         <h3>To export databases</h3>
            <table>
                <tr class="w3-theme-d1"><td><b>Baseline</b></td><td>Syntaxes for</td><td>Importation with</td><td>Data extraction can be long (Tab separated csv files)</td></tr>
                <tr><td>Infos from clinical file (baseline only)</td>
                    <td><a href="{% url 'fait_entete_spss' 200 1 %}" class= 'button'><b>SPSS</b></a></td>
                     <td><a href="{% url 'fait_entete_stata' 200 1 %}" class= 'button'><b>STATA</b></a></td>
                    <td><a href="{% url 'gh_csv_tous' 200 1 %}" class= 'button'><b>Clinical file Data (csv)</b></a></td></tr>
                <tr><td>Socio demo, Relationship, Work Finances, Family friends</td>
                    <td><a href="{% url 'fait_entete_spss' 10 1 %}" class= 'button'><b>SPSS</b></a></td>
                    <td><a href="{% url 'fait_entete_stata' 10 1 %}" class= 'button'><b>STATA</b></a></td>
                    <td><a href="{% url 'gh_csv_tous' 10 1 %}" class= 'button'><b>Interview Guide Part 1 (csv) </b></a></td></tr>
                <tr><td>Antisocial, Alcohol, Drugs, Treatments' Stress, Leisure, Goals</td>
                    <td><a href="{% url 'fait_entete_spss' 15 1 %}" class= 'button'><b>SPSS</b></a></td>
                    <td><a href="{% url 'fait_entete_stata' 15 1 %}" class= 'button'><b>STATA</b></a></td>
                    <td><a href="{% url 'gh_csv_tous' 15 1 %}" class= 'button'><b>Interview Guide Part 2 (csv) </b></a></td></tr>
                <tr><td>VRAG, SCID Alcohol/Drug, SCID APD; HCR-20-V3, START</td>
                    <td><a href="{% url 'fait_entete_spss' 100 1 %}" class= 'button'><b>SPSS</b></a></td>
                    <td><a href="{% url 'fait_entete_stata' 100 1 %}" class= 'button'><b>STATA</b></a></td>
                    <td><a href="{% url 'gh_csv_tous' 100 1 %}" class= 'button'><b>Instruments (csv) </b></a></td></tr>
                <tr><td>RAS, CSI, General Impression</td>
                    <td><a href="{% url 'fait_entete_spss' 101 1 %}" class= 'button'><b>SPSS</b></a></td>
                    <td><a href="{% url 'fait_entete_stata' 101 1 %}" class= 'button'><b>STATA</b></a></td>
                    <td><a href="{% url 'gh_csv_tous' 101 1 %}" class= 'button'><b>Scales (csv) </b></a></td></tr>
                <tr class="w3-theme-d1"><td><b>Followup</b></td><td></td><td></td><td></td></tr>
                <tr><td>Socio demo, Relationship, Work Finances, Family friends</td>
                    <td><a href="{% url 'fait_entete_spss' 10 2 %}" class= 'button'><b>SPSS</b></a></td>
                    <td><a href="{% url 'fait_entete_stata' 10 2 %}" class= 'button'><b>STATA</b></a></td>
                    <td><a href="{% url 'gh_csv_tous' 10 2 %}" class= 'button'><b>Interview Guide Part 1 (csv) </b></a></td> </tr>
                <tr><td>Antisocial, Alcohol, Drugs, Treatments' Stress, Leisure, Goals</td>
                    <td><a href="{% url 'fait_entete_spss' 15 2 %}" class= 'button'><b>SPSS</b></a></td>
                    <td><a href="{% url 'fait_entete_stata' 15 2 %}" class= 'button'><b>STATA</b></a></td>
                    <td><a href="{% url 'gh_csv_tous' 15 2 %}" class= 'button'><b>Interview Guide Part 2 (csv) </b></a></td> </tr>
                    </tr>
                <tr><td>HCR-20-V3, START</td>
                    <td><a href="{% url 'fait_entete_spss' 100 2 %}" class= 'button'><b>SPSS</b></a></td>
                    <td><a href="{% url 'fait_entete_stata' 100 2 %}" class= 'button'><b>STATA</b></a></td>
                    <td><a href="{% url 'gh_csv_tous' 100 2 %}" class= 'button'><b>Instruments (csv) </b></a></td>
                </tr>
                <tr><td>RAS, CSI, General Impression; Followup only: SOS</td>
                    <td><a href="{% url 'fait_entete_spss' 101 2 %}" class= 'button'><b>SPSS</b></a></td>
                    <td><a href="{% url 'fait_entete_stata' 101 2 %}" class= 'button'><b>STATA</b></a></td>
                    <td><a href="{% url 'gh_csv_tous' 101 2 %}" class= 'button'><b>Scales (csv)</b></a></td>
                </tr>
                <tr><td>Work TLFB</td>
                    <td><a href="{% url 'fait_entete_spss' 4 2 %}" class= 'button'><b>SPSS</b></a></td>
                    <td><a href="{% url 'fait_entete_stata' 4 2 %}" class= 'button'><b>STATA</b></a></td>
                    <td><a href="{% url 'gh_res_repet_tous' 4 %}" class= 'button'><b>Work TLFB (csv)</b></a></td>

                </tr>
                <tr><td>Housing TLFB</td>
                    <td><a href="{% url 'fait_entete_spss' 3 2 %}" class= 'button'><b>SPSS</b></a></td>
                    <td><a href="{% url 'fait_entete_stata' 3 2 %}" class= 'button'><b>STATA</b></a></td>
                    <td><a href="{% url 'gh_res_repet_tous' 3 %}" class= 'button'><b>Housing TLFB (csv)</b></a></td>

                </tr>
                <tr class="w3-theme-d1"><td><b>Family</b></td><td></td><td></td><td></td></tr>
                <tr><td>Family interview Baseline</td>
                    <td><a href="{% url 'fait_entete_spss' 600 1 %}" class= 'button'><b>SPSS</b></a></td>
                    <td><a href="{% url 'fait_entete_stata' 600 1 %}" class= 'button'><b>STATA</b></a></td>
                    <td><a href="{% url 'gh_csv_tous' 600 1 %}" class= 'button'><b>Family interview B(csv)</b></a></td>
                </tr>
                <tr><td>Family Interview Follow Up</td>
                    <td><a href="{% url 'fait_entete_spss' 600 2 %}" class= 'button'><b>SPSS</b></a></td>
                    <td><a href="{% url 'fait_entete_stata' 600 2 %}" class= 'button'><b>STATA</b></a></td>
                    <td><a href="{% url 'gh_csv_tous' 600 2 %}" class= 'button'><b>Family interview FU(csv)</b></a></td>
                </tr>
            </table>
        </div>
       <div class="tabbertab">
        <h3>To print variable list and dictionnary</h3>
            <table>
                <tr class="w3-theme-d1"><td><b>Baseline</b></td><td></td></tr>
                <tr><td>Infos from clinical file (baseline only)</td><td><a href="{% url 'dogh_questions_pdf' 200 1 %}" class= 'button'><b> >> Clinical file Do pdf</b></a></td></tr>
                <tr><td>Socio demo, Relationship, Work Finances, Family friends</td><td><a href="{% url 'dogh_questions_pdf' 10 1 %}" class= 'button'><b> >> Interview Guide 1 Do pdf</b></a></td></tr>
                <tr><td>Antisocial, Alcohol, Drugs, Treatments' Stress, Leisure, Goals</td><td><a href="{% url 'dogh_questions_pdf' 15 1 %}" class= 'button'><b> >> Interview Guide 2 Do pdf</b></a></td></tr>
                <tr><td>Baseline VRAG, SCID Alcohol/Drug, SCID APD; All interviews HCR-20-V3, START</td><td><a href="{% url 'dogh_questions_pdf' 100 1 %}" class= 'button'><b> >> Instruments Do pdf</b></a></td></tr>
                <tr><td>All interviews RAS, CSI, General Impression</td><td><a href="{% url 'dogh_questions_pdf' 101 1 %}" class= 'button'><b> >> Scales Do pdf</b></a></td></tr>
                <tr class="w3-theme-d1"><td><b>Followup</b></td><td></td></tr>
                <tr><td>Socio demo, Relationship, Work Finances, Family friends</td><td><a href="{% url 'dogh_questions_pdf' 10 2 %}" class= 'button'><b> >> Interview Guide 1 FU Do pdf</b></a></td></tr>
                <tr><td>Antisocial, Alcohol, Drugs, Treatments' Stress, Leisure, Goals</td><td><a href="{% url 'dogh_questions_pdf' 15 2 %}" class= 'button'><b> >> Interview Guide 2 FU Do pdf</b></a></td></tr>
                <tr><td>HCR-20-V3, START</td><td><a href="{% url 'dogh_questions_pdf' 100 2 %}" class= 'button'><b> >> Instruments FU Do pdf</b></a></td></tr>
                <tr><td>RAS, CSI, General Impression; Followup only: SOS</td><td><a href="{% url 'dogh_questions_pdf' 101 2 %}" class= 'button'><b> >> Scales FU Do pdf</b></a></td></tr>
                <tr><td>Work TLFB</td><td><a href="{% url 'dogh_questions_pdf' 4 2 %}" class= 'button'><b> >> Work (one card for each job) Do pdf</b></a></td></tr>
                <tr><td>Housing TLFB</td><td><a href="{% url 'dogh_questions_pdf' 3 2 %}" class= 'button'><b> >> Housing (one card for each address) Do pdf</b></a></td></tr>
                <tr class="w3-theme-d1"><td><b>Family</b></td><td></td></tr>
                <tr><td>Family interview Baseline</td><td><a href="{% url 'dogh_questions_pdf' 600 1 %}" class= 'button'><b> >> Family Baseline Do pdf</b></a></td></tr>
                <tr><td>Family Interview Follow Up</td><td><a href="{% url 'dogh_questions_pdf' 600 2 %}" class= 'button'><b> >> Family Follow Up Do pdf</b></a></td></tr>
            </table>
        </div>
   </div>
</div>
<footer class="w3-container w3-theme-d5 footerw3">
    <h5><a class="w3-text-white" href="mailto:malijai.caulet.ippm@ssss.gouv.qc.ca?subject=Going Home troubles">For any question or problem : contact</a></h5>
</footer>

</body>
</html>

