{% load i18n %}
{% load static %}

<html>
    <head>
        <title>Going Home -  Data entry</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'accueil/w3.css' %}">
        <link rel="stylesheet" href="{% static 'gh/w3taupe.css' %}">
        <script type="text/javascript" src="/static/jquery.js"></script>
        <script type="text/javascript" src="/static/tabber.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/sondageM.css" />

    </head>
<body class="w3-theme-l4">
<h3>The extracted database is here: <a href="{{ MEDIA_DATAURL }}{{ filename }}"> {{ filename }} </h3>

</body>
</html>

